Package: sh.ignition.webtweak
Name: webTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ignition, LLC.
Author: Ignition, LLC.
Section: Tweaks
