Package: sh.ignition.webtweak
Name: webTweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ignition, LLC.
Author: Ignition, LLC.
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 160
